/**** MIXINS *****/
/************* ANIMATIONS ************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #BCBEC6;
}

.dem {
  color: #999;
}

#pagewrap {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.clearfloat {
  clear: both;
}

.leftmarg5 {
  margin-left: 5px;
}

.leftmarg10 {
  margin-left: 10px;
}

.leftmarg15 {
  margin-left: 15px;
}

.leftmarg20 {
  margin-left: 20px;
}

.rightmarg5 {
  margin-right: 5px;
}

.rightmarg10 {
  margin-right: 10px;
}

.rightmarg15 {
  margin-right: 15px;
}

.rightmarg20 {
  margin-right: 20px;
}

.left {
  float: left;
}

header {
  background: #fff;
  border-bottom: 1px solid #EDEFF5;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

header h3 {
  padding: 25px 0 0;
  font-size: 14px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  position: relative;
  margin-top: 0;
  transition: visibility 0ms 150ms, opacity 0ms 150ms, margin 100ms 150ms;
}
header h3.hidden {
  visibility: hidden;
  opacity: 0;
  margin-top: -100px;
  transition: visibility 0ms, opacity 0ms, margin 0ms;
}

.headerHolder.inactive {
  transform: translate3D(0, -100px, 0);
  transition: transform 150ms ease-in;
}

.headerHolder {
  transform: translate3D(0, 60px, 0);
  transition: transform 150ms ease-out;
}

header input[type=text] {
  padding: 8px 15px;
  margin-right: 5px;
  width: 300px;
}

header button {
  background: #EDEFF5;
  color: #BCBEC6;
  padding: 13px 20px;
  margin: 15px 15px 0 0;
  outline: none;
  border: none;
  cursor: pointer;
}
header button:hover {
  background: #BCBEC6;
  color: #fff;
}
header button.inactive {
  opacity: .42;
  pointer-events: none;
}

.leftSide {
  padding: 18px 0 0;
  margin-left: 20px;
}

.rightSide {
  float: right;
}

p {
  margin: 0;
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
  color: #BCBEC6;
  line-height: 32px;
}

.leftSide p span {
  display: inline-block;
  margin: 0 2px;
}

.event {
  vertical-align: middle;
  padding: 26px 38px 25px;
  line-height: 70px;
  text-decoration: none;
  color: #BCBEC6;
  background: #fff;
  border-left: 1px solid #EDEFF5;
}

.event:hover {
  background: #BCBEC6;
  color: #fff;
}

.widget {
  margin: 70px 0;
  position: relative;
  padding: 70px;
}

ul.content {
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

.content li {
  width: 20%;
  height: 150px;
  margin: 2.5%;
  background: #EDEFF5;
  border: 2px solid transparent;
  position: relative;
}
.content li:hover {
  background: #F8F9FC;
}
.content li.selected {
  border-color: #5EBFDA;
  background: #F8F9FC;
}
.content li.activated {
  border-color: #BCBEC6;
  background: #F8F9FC;
}

.content.currentEvent li.selected {
  border-color: transparent;
  background: #EDEFF5;
}

body.interactive .content li.selected {
  border-color: transparent;
  background: #EDEFF5;
}

.submenu {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 85px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 190px;
  visibility: hidden;
  opacity: 0;
  transform: translate3D(0, 0, 0);
  transition: visibility 0ms 150ms, opacity 150ms, transform 150ms;
}
.submenu p {
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #EDEFF5;
  width: 100%;
}
.submenu p span {
  display: inline-block;
  float: right;
}
.submenu p:hover {
  background: #F8F9FC;
}
.submenu.active {
  visibility: visible;
  opacity: 1;
  transform: translate3D(0, -15px, 0);
  transition: visibility 0ms, opacity 200ms, transform 150ms;
}
.submenu .cont.active .subsubmenu {
  display: inline;
}

.content li:nth-child(4n) .submenu {
  left: -45px;
}

.subsubmenu {
  width: 190px;
  top: 43px;
  left: 191px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: absolute;
  display: none;
}

footer {
  width: 100%;
  height: 70px;
  background: #fff;
  border-top: 1px solid #EDEFF5;
  position: fixed;
  bottom: 0;
}

footer .btn {
  vertical-align: middle;
  padding: 26px 25px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: #BCBEC6;
  background: #fff;
}

footer .rightSide .btn {
  border-left: 1px solid #EDEFF5;
}

footer .leftSide {
  margin: 0;
  float: left;
  padding: 0;
}

footer .rightSide {
  float: right;
}

footer .leftSide .btn {
  border-right: 1px solid #EDEFF5;
}

.widget.eventgroup.two {
  display: none;
}

.menu {
  position: fixed;
  z-index: 3;
  top: 110px;
  left: 40px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 380px;
  border-radius: 2px;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms, visibility 0ms 150ms;
}
.menu.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 150ms, visibility 0ms;
}

.menu h2 {
  cursor: move;
  text-align: center;
  font-size: 12px;
  width: 100%;
  padding: 20px;
  background: #F8F9FC;
  position: fixed;
  width: 260px;
  z-index: 1;
}
.menu h2 .arrow {
  text-align: left;
  position: absolute;
  left: 15px;
  top: 20px;
  cursor: pointer;
}
.menu h2 .arrow:hover {
  color: #434E5A;
}
.menu h2 .title {
  text-transform: uppercase;
  font-size: 11px;
}

.eventList,
.elementList {
  list-style: none;
  background: #fff;
  width: 260px;
  height: 209px;
  position: absolute;
  top: 51px;
  left: 0;
}
.eventList li,
.elementList li {
  padding: 9px 14px;
  border-bottom: 1px solid #EDEFF5;
  font-size: 13px;
  text-align: left;
  position: relative;
}
.eventList li:hover,
.elementList li:hover {
  background: #F8F9FC;
}

.elementNumber {
  float: right;
}

/*# sourceMappingURL=global.css.map */
