@import url("assets/css/reset.css");
@import url("assets/css/global.css");

body {
	background: #fff;
	padding: 100px;
}

.output {
	width: 100px;
	height: 100px;
	margin-top: 50px;
}

.color {
	width: 80px;
	height: 80px;
}

h3 {
	color: #000;
	margin-top: 10px;
	font: 12px Helvetica;
}

textarea {
	width: 300px;
	height: 100px;
}

#Sorted{
  position: relative;
  top: 50px;
}
#Pusher{
  position: relative;
  top: 100px;
}
#hueSort{
  position: relative;
	top: 150px;
}

.col-4 {
	width: 20%;
	margin: 0 0 15px -4px;
	display: inline-block;
	padding: 0;
}

.mb-1 {
	width: 50px;
	height: 50px;
}

#original {
	display: none !important;
}