/************* ANIMATIONS ************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfloat {
  clear: both;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}