/************* GLOBAL STUFF ************/
@import url(fonts.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes slides {
  0% {
    transform: translateX(-227px);
  }
  10% {
    transform: translateX(-227px);
  }
  13% {
    transform: translateX(-488px);
  }
  40% {
    transform: translateX(-488px);
  }
  43% {
    transform: translateX(-750px);
  }
  80% {
    transform: translateX(-750px);
  }
  83% {
    transform: translateX(-1013px);
  }
  100% {
    transform: translateX(-1013px);
  }
}
body, html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #232933;
}

.hidden {
  display: none;
  top: -100px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.4);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.4);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

/************ Typography STUFF ***********/
.phone {
  width: 384px;
  height: 802px;
  background: url(../img/phone.png) no-repeat;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -395px 0 0 -196px;
}

.device {
  width: 320px;
  height: 568px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -164px;
  overflow: hidden !important;
  background: #000;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "din", sans-serif;
}

.bg-gradient {
  position: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.bg-gradient.blue {
  background-image: -moz-linear-gradient(-38deg, #011d41 8%, #014d7b 62%, #007cb4 100%);
  background-image: -webkit-linear-gradient(-38deg, #011d41 8%, #014d7b 62%, #007cb4 100%);
  background-image: -ms-linear-gradient(-38deg, #011d41 8%, #014d7b 62%, #007cb4 100%);
}
.bg-gradient.green {
  background-image: -moz-linear-gradient(-53deg, #081d46 0%, #156058 56%, #22a26a 100%);
  background-image: -webkit-linear-gradient(-53deg, #081d46 0%, #156058 56%, #22a26a 100%);
  background-image: -ms-linear-gradient(-53deg, #081d46 0%, #156058 56%, #22a26a 100%);
}
.bg-gradient.purple {
  background-image: -moz-linear-gradient(-53deg, #4a0046 0%, #251f5c 43%, #0d649b 100%);
  background-image: -webkit-linear-gradient(-53deg, #4a0046 0%, #251f5c 43%, #0d649b 100%);
  background-image: -ms-linear-gradient(-53deg, #4a0046 0%, #251f5c 43%, #0d649b 100%);
}

.bg-gradient.active {
  opacity: 1;
  transition: opacity 400ms 300ms;
}

.phone-wrap {
  width: 320px;
  height: 568px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -164px;
  background-size: cover;
  transform: scale(0.7);
  opacity: .5;
  display: none;
}

.phone-wrap.ready {
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms 500ms, opacity 150ms 500ms;
}

.home {
  padding: 0 42px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
  transform: translateY(-60px);
}

.home.good-to-go {
  opacity: 1;
  visibility: visible;
  transform: translateY(-90px);
  transition: opacity 200ms 150ms, visibility 0ms 150ms, transform 250ms 150ms;
}

input[type=text],
input[type=email],
input[type=password] {
  font: 14px "din", sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4);
  background: none;
  outline: none;
  border: none;
  padding: 0 30px;
  height: 45px;
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  color: white;
}
input[type=text].parsley-error,
input[type=email].parsley-error,
input[type=password].parsley-error {
  color: #e3535f;
}
input[type=text].parsley-success,
input[type=email].parsley-success,
input[type=password].parsley-success {
  color: white;
}

input[type=email]:focus ~ svg,
input[type=password]:focus ~ svg {
  fill: white;
  transition: fill 200ms, color 200ms;
}

input[type=email].parsley-error ~ svg,
input[type=password].parsley-error ~ svg {
  fill: #e3535f;
  transition: fill 200ms, color 200ms;
}

input[type=email].parsley-success ~ svg,
input[type=password].parsley-success ~ svg {
  fill: white;
  transition: fill 200ms, color 200ms;
}

.email,
.pass {
  position: relative;
  margin: 5px 0;
}

.email svg,
.pass svg {
  position: absolute;
  fill: rgba(255, 255, 255, 0.4);
  width: 18px;
  left: 0;
}

.email svg {
  top: 7px;
}

.pass svg {
  top: 0;
}

.sep {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  margin: 95px auto 85px;
  display: block;
  transition: transform 150ms, opacity 150ms;
}

.button {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 11px 0 9px;
  font: bold 13px "din", sans-serif;
  outline: none;
  margin-top: 28px;
  transition: background-color 200ms;
  cursor: pointer;
}
.button.success {
  background-color: rgba(255, 255, 255, 0.18);
  transition: background-color 200ms;
}
.button.parsley-error {
  background-color: #e3535f;
  box-shadow: none;
  transition: background-color 200ms;
}

.parsley-errors-list {
  position: fixed;
  display: none !important;
}

.sign-in {
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 5ms, opacity 250ms;
}

.bye_bye {
  visibility: hidden;
  transition: visibility 0ms 450ms;
}

.login_form.bye_bye .logo {
  transform: translateY(-8px);
  opacity: 0;
  transition: transform 200ms, opacity 250ms;
}

.login_form.bye_bye form {
  transform: translateY(-8px);
  opacity: 0;
  transition: transform 200ms 150ms, opacity 250ms 150ms;
}

.login_form.bye_bye .sign-in {
  transform: translateY(-8px);
  opacity: 0;
  transition: transform 200ms 250ms, opacity 250ms 250ms;
}

.two_factor_form {
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
}

.two_factor_form {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0 40px;
}

.two_factor_form.hi_there {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: visibility 0ms 500ms, opacity 250ms 500ms, transform 250ms 500ms;
}

.two_factor_form.bye_bye {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-8px);
  transition: visibility 0ms 450ms, opacity 250ms, transform 200ms;
}

.icon {
  width: 110px;
  display: block;
  margin: 95px auto 40px;
}

p {
  font: 14px/21px "din", sans-serif;
  color: white;
  text-align: center;
}

.verification_field {
  text-align: center;
}

.photo-bg {
  background: url(../img/girl-background.png) no-repeat;
  background-size: cover;
  width: 320px;
  height: 568px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -164px;
}

.photo-bg.hide {
  transform: translateY(-568px);
  visibility: hidden;
  -webkit-transition: transform 500ms cubic-bezier(0.855, 0.095, 0.925, 0.7), visibility 0ms 500ms;
}

.intro-wrap {
  position: relative;
  padding: 35px 35px 0 35px;
}

.logo-small {
  width: 80px;
}

.intro-wrap h1 {
  font: bold 22px/24px "din", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 3px;
}
.intro-wrap h1 span {
  color: #3597E9;
  display: block;
}

.intro-wrap p {
  font: normal 17px/21px "din", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  margin: 0;
  width: 88%;
}
.intro-wrap p.big {
  width: 100%;
}

.sign-in-bug,
.sign-in-top {
  font: bold 14px/18px "din", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: block;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
}

.sign-in-bug {
  transform: translateY(456px);
  width: 240px;
}

.sign-in-top {
  text-align: right;
  transform: translate3D(209px, -27px, 0);
  text-transform: none;
  color: rgba(255, 255, 255, 0.35);
  font-weight: normal;
}

.intro-wrap .content {
  position: absolute;
  z-index: 5;
  transform: translateY(290px);
}

.intro-time {
  opacity: 0;
  visibility: hidden;
}

.intro-time.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility;
}

.report {
  position: fixed;
  opacity: 0;
}
.report.three {
  width: 184px;
  transform: translate3D(-40px, 92px, 0);
}
.report.two {
  width: 164px;
  transform: translate3D(88px, 50px, 0);
}
.report.one {
  width: 164px;
  transform: translate3D(135px, 180px, 0);
}

.intro-time .step.one .content {
  opacity: 0;
  transform: translateY(310px);
}

.intro-time.see-yas {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms 150ms, visibility 0ms 400ms;
}

.intro-time.active .step.one .content {
  opacity: 1;
  transform: translateY(290px);
  transition: opacity 200ms 750ms, transform 350ms 750ms;
}

.intro-time.active .step.one .content.go-away {
  opacity: 0;
  visibility: hidden;
  transform: translateY(310px);
  transition: opacity 200ms 250ms, transform 350ms 250ms, visibility 0ms 600ms;
}

.intro-time .step.two {
  visibility: hidden;
}

.intro-time .step.two .content {
  opacity: 0;
  transform: translateY(270px);
}

.intro-time.active.double .step.two {
  visibility: visible;
}

.intro-time.active.double .step.two .content {
  opacity: 1;
  transform: translateY(250px);
  transition: opacity 200ms 750ms, transform 350ms 750ms;
}

.intro-time.active .report {
  opacity: 1;
  -webkit-transition: transform 600ms cubic-bezier(0, 0.055, 0, 1) 850ms, opacity 200ms 850ms;
}
.intro-time.active .report.three {
  transform: translate3D(-20px, 112px, 0);
}
.intro-time.active .report.two {
  transform: translate3D(68px, 70px, 0);
}
.intro-time.active .report.one {
  transform: translate3D(115px, 160px, 0);
}

.step.one .icons.buh-bye .report {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 600ms cubic-bezier(0, 0.055, 0, 1) 150ms, opacity 200ms 150ms, visibility 0ms 750ms;
}
.step.one .icons.buh-bye .report.three {
  width: 184px;
  transform: translate3D(-240px, 92px, 0);
}
.step.one .icons.buh-bye .report.two {
  width: 164px;
  transform: translate3D(68px, -170px, 0);
}
.step.one .icons.buh-bye .report.one {
  width: 164px;
  transform: translate3D(295px, 160px, 0);
}

.indicator {
  position: absolute;
  width: 0;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.34);
}
.indicator.half {
  width: 50%;
  transition: width 200ms 900ms;
}
.indicator.full {
  width: 100%;
  transition: width 200ms 300ms;
}

.slides {
  position: absolute;
  width: 320px;
  overflow: hidden;
  height: 184px;
  left: 0;
  opacity: 0;
  transform: translateY(56px);
}

.slides.active {
  opacity: 1;
  transform: translateY(36px);
  transition: opacity 200ms 750ms, transform 250ms 750ms;
}

.sliders {
  position: absolute;
  transform: translateX(-227px);
}

.sliders.active {
  -webkit-animation: slides 6s cubic-bezier(0, 0.24, 0.045, 0.985) infinite;
}

.event-wrap {
  position: absolute;
  width: 320px;
  height: 568px;
  transform: translate3D(50%, -50%, 0);
  margin: -284px 0 0 -160px;
  background: #F5F8FA;
  -webkit-transition: transform 500ms cubic-bezier(0.855, 0.095, 0.925, 0.7);
}
.event-wrap.active {
  transform: translate3D(50%, 50%, 0);
  transition: transform 500ms cubic-bezier(0.585, 0.01, 0.98, 0.595);
}

.event-wrap .header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(76, 87, 97, 0.19);
  text-align: center;
  padding: 40px 0 30px;
  font-family: "din", sans-serif;
}
.event-wrap .header h2 {
  font-size: 18px;
  font-weight: 500;
  color: #4c5761;
  margin: 0 0 1px 0;
}
.event-wrap .header h4 {
  font-size: 14px;
  font-weight: 500;
  color: #9ba7b1;
  margin: 0;
}

.search {
  background-color: #EBEEF1;
  border-radius: 3px;
  width: 300px;
  margin: 124px auto 10px;
  text-align: center;
  font: 500 13px "din", sans-serif;
  color: #9ba7b1;
  padding: 9px 0 6px;
}

.mag {
  width: 12px;
  height: 12px;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.event-wrap ul {
  border-top: 1px solid #E1E4E9;
  padding: 0 20px;
  margin: 0 0 0 0;
  list-style: none;
  height: 402px;
  overflow-y: scroll;
}

.event-wrap ul li {
  font: 500 15px "din", sans-serif;
  padding: 15px 0 11px;
  color: #4c5761;
  border-bottom: 1px solid #EBEEF1;
  position: relative;
  cursor: pointer;
}

.check {
  position: absolute;
  background: url(../img/check.png) no-repeat 0 -20px;
  width: 20px;
  height: 20px;
  right: 0;
  top: 12px;
}
.check.active {
  background-position: 0 0;
}

.view-panels {
  width: 100%;
  position: fixed;
  background: #2E95EC;
  color: #fff;
  font: 500 15px "din", sans-serif;
  text-align: center;
  padding: 16px 0 13px 0;
  cursor: pointer;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  bottom: 0;
}
.view-panels.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 200ms cubic-bezier(0, 0.24, 0.045, 0.985), visibility 0ms, opacity 10ms;
}

.skip {
  font: bold 14px/18px "din", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: block;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
}

.dash {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 115px;
  left: 32px;
}
.dash.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 250ms 500ms;
}

/*# sourceMappingURL=global.css.map */
