/************* ANIMATIONS ************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li, button, a {
  outline: none;
}

body, html {
  font-size: 100%;
  padding: 15px 0;
  margin: 0;
  height: 100%;
  background: #85878a;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}

.pane {
  padding: 20px;
}

section {
  display: block;
  margin: 0 auto 20px;
}
section:last-child {
  margin: 0 auto;
}

.component header, .component footer {
  background: #edeff5;
}
.component header {
  border-radius: 3px 3px 0 0;
}
.component footer {
  border-radius: 0 0 3px 3px;
}

header, footer {
  width: 100%;
  margin: 0;
  padding: 14px;
  vertical-align: middle;
}

header {
  background: #5e6064;
}

.body {
  padding: 20px;
  background: #fff;
  vertical-align: middle;
}

p {
  color: #8d9199;
  font-size: 12px;
  line-height: 17px;
  margin: 0 0 14px 0;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: #7a7f8c;
  margin: 0 0 14px 0;
}

h1 {
  font-size: 17px;
  line-height: 23px;
}

h2 {
  font-size: 15px;
  line-height: 21px;
}

h3, h4, h5, h6 {
  font-size: 13px;
  line-height: 19px;
}

header p, footer p {
  margin: 0;
}
header h1, header h2, header h3, header h4, header h5, header h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  margin: 0;
}

a {
  color: #5e6064;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p span, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, a span, code span {
  opacity: .5;
}

code {
  font-size: 11px;
  font-family: monaco;
  color: #5e6064;
}
code span {
  display: block;
}

.drop {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.drop.fwidth {
  min-width: 170px;
}
.drop:after {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  top: 5px;
  margin-left: 10px;
  float: right;
}
.drop.light {
  color: #70737a;
}
.drop.light:after {
  border-top: 4px solid #70737a;
}
.drop.light:hover {
  background: #edeff5;
}
.drop.dark {
  background: #70737a;
  color: #f5f7fc;
}
.drop.dark:after {
  border-top: 4px solid #f5f7fc;
}
.drop.dark:hover {
  background: #5e6064;
}
.drop.nobounds {
  background: transparent;
  box-shadow: none;
}
.drop.nobounds:hover, .drop.nobounds.open {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
}

.droptext {
  display: inline-block;
}

.drop.open > .list {
  display: block;
  z-index: 1;
}

.fwidth > .list {
  min-width: 170px;
}

.list {
  position: absolute;
  display: none;
  top: 35px;
  left: 0;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0 2px 2px 2px;
  min-width: 100%;
}

.list a {
  display: block;
  padding: 10px;
  white-space: nowrap;
}

.drop.light .list {
  background: #fff;
}
.drop.light .list a:hover {
  background: #edeff5;
  text-decoration: none;
}

.drop.dark .list {
  background: #70737a;
}
.drop.dark .list a {
  color: #f5f7fc;
}
.drop.dark .list a:hover {
  background: #5e6064;
  text-decoration: none;
}

button {
  font-size: 12px;
  font-weight: bold;
  border: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  cursor: pointer;
}
button.primary {
  background: #FFF;
  color: #70737a;
  padding: 10px;
}
button.primary:hover {
  background: #f5f7fc;
}
button.icon.after:after, button.icon.before:before {
  width: 12px;
  height: 12px;
  position: relative;
  background: rgba(94, 96, 100, 0.5);
  display: inline-block;
  content: "";
  top: 1.5px;
}
button.icon.after:after {
  margin-left: 10px;
}
button.icon.before:before {
  margin-right: 10px;
}
button.secondary {
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.35);
  box-shadow: none;
  padding: 8px;
}
button.secondary:hover {
  border: 2px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
}

.modal {
  width: 430px;
  height: auto;
  padding: 60px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 60px 0;
  position: relative;
}
.modal.center {
  text-align: center;
}
.modal .fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}
.modal.twobutton button {
  margin: 0 5px;
}

.skip {
  font-size: 11px;
  font-weight: normal;
  color: #9c9ea1;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

a.x {
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: .35;
}
a.x:after, a.x:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 40em;
  background: #70737a;
  content: "";
  top: 7px;
}
a.x:hover {
  opacity: 1;
}
a.x:after {
  transform: rotateZ(45deg);
}
a.x:before {
  transform: rotateZ(-45deg);
}

.tip {
  width: auto;
  height: auto;
  max-width: 380px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 60px 0;
  position: relative;
}
.tip p {
  margin-bottom: 0;
}
.tip.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

.account {
  float: right;
}

.helpers {
  float: right;
  margin-right: 25px;
  vertical-align: middle;
  padding: 7px;
}
.helpers a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  margin-left: 20px;
}
.helpers a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.sidebar {
  background: #edeff5;
  width: 17%;
  display: inline-block;
  padding: 20px 0 20px 20px;
}

.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  list-style: none;
  border-bottom: 1px solid rgba(112, 115, 122, 0.2);
}
.sidebar ul a {
  font-size: 13px;
  text-decoration: none;
  display: block;
  padding: 5px 0 5px 5px;
}
.sidebar ul a:hover {
  background: rgba(255, 255, 255, 0.3);
}

a.apps {
  font-size: 13px;
  display: block;
  padding: 5px 0 5px 5px;
  text-decoration: none;
}
a.apps:hover, a.apps.open {
  background: rgba(255, 255, 255, 0.3);
}
a.apps:after {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #70737a;
  content: "";
  top: 4px;
  margin-right: 20px;
  float: right;
}

.reportarea {
  background: #e6e9ef;
  width: 83%;
  height: 100%;
  display: inline-block;
  margin-left: -5px;
  vertical-align: top;
}

/*# sourceMappingURL=global.css.map */
