/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/************* BRANDON FONTS ****************/
@font-face {
  font-family: 'brandon';
  src: url("../fonts/brandon_blk-webfont.eot");
  src: url("../fonts/brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_blk-webfont.woff2") format("woff2"), url("../fonts/brandon_blk-webfont.woff") format("woff"), url("../fonts/brandon_blk-webfont.ttf") format("truetype"), url("../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'brandon';
  src: url("../fonts/brandon_bld-webfont.eot");
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff2") format("woff2"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: 700;
  font-style: normal;
}
/************* SOURCE FONTS ****************/
@font-face {
  font-family: 'source';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'source';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'source';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
/************* ROPA FONTS ****************/
@font-face {
  font-family: 'ropa';
  src: url("../fonts/ropasans-italic-webfont.eot");
  src: url("../fonts/ropasans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ropasans-italic-webfont.woff2") format("woff2"), url("../fonts/ropasans-italic-webfont.woff") format("woff"), url("../fonts/ropasans-italic-webfont.ttf") format("truetype"), url("../fonts/ropasans-italic-webfont.svg#ropa_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/************** Mixins Fonts ***************/
/************** Brand Colors ***************/
/***** Primary Colors *****/
/***** Secondary Colors *****/
/************** Fonts Fonts ***************/
/************** General Style Mixins ***************/
/************** IcoMoon Fonts ***************/
/* @group Base */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #fff400;
  color: #25282B;
  text-shadow: none;
}

::selection {
  color: #25282B;
  background: #fff400;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
  max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* @end */
/* ==========================================================================
   Custom styles
   ========================================================================== */
/* FONT & TEXT STYLES */
h1, h2, h3, h4, h5, h6 {
  font-family: "brandon";
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-family: "source";
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  margin: 0 auto 35px;
  text-align: left;
}

a {
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid #B1B1AD;
}

/* @group Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
  transition: top 150ms;
}

header.hide {
  top: -80px;
  transition: top 150ms;
}

.mainlogo {
  width: 63px;
  display: inline-block;
  margin: 30px;
  opacity: .25;
  transition: opacity 200ms;
}

.mainlogo:hover {
  opacity: 1;
  transition: opacity 200ms;
}

menu {
  width: 90%;
  display: block;
  margin: 0;
  padding: 0;
  height: 75px;
  float: right;
}
menu.scroll-to-fixed-fixed {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

menu ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

menu ul li {
  display: inline-block;
}
menu ul li:first-child a {
  border-left: none;
}

menu ul li a {
  text-decoration: none;
  display: block;
  padding: 27px 0 26px;
  margin: 0 25px;
  font-size: 13px;
  font-weight: 900;
  border-bottom: none;
  font-family: "brandon";
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  transition: color 150ms;
}
menu ul li a:hover {
  color: white;
  transition: color 150ms;
}
menu ul li a:active, menu ul li a.active {
  color: white;
  border-bottom: 3px solid #45a0f8;
}

.nav {
  text-align: right;
}

.device {
  float: left;
  text-align: left;
  display: none;
}

/* @end */
/* @group Hero */
.wrapper {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

@-moz-document url-prefix() {
  .wrapper {
    max-width: 1441px;
  }
}
.clearfloat {
  clear: both;
}

.logo {
  margin: 0 auto 50px;
  display: block;
}

.centered {
  text-align: center;
}

.hero {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  z-index: 2;
  background-color: #4a0046;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4A0046', endColorstr='#FF0D649B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhMDA0NiIvPjxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjMjUxZjVjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGQ2NDliIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #4a0046), color-stop(62%, #251f5c), color-stop(100%, #0d649b));
  background-image: -moz-linear-gradient(left top, #4a0046 0%, #251f5c 62%, #0d649b 100%);
  background-image: -webkit-linear-gradient(left top, #4a0046 0%, #251f5c 62%, #0d649b 100%);
  background-image: linear-gradient(to right bottom, #4a0046 0%, #251f5c 62%, #0d649b 100%);
  transition: top 350ms;
}

.hero.slide {
  top: -1600px;
  transition: top 350ms;
}

.hero h1 {
  color: #fff;
  text-align: left;
  font-size: 90px;
  line-height: 64px;
  font-weight: 700;
}

.hero h1 span {
  display: block;
  font-size: 30px;
  font-weight: 900;
}

.hero .left,
.hero .right {
  float: left;
}

.hero .left {
  width: 42.5%;
  text-align: right;
  padding: 0 70px 0 0;
}

.hero .right {
  width: 57.5%;
  padding: 25px 0 0 67px;
}

.bar {
  align-self: flex-start;
  width: 2px;
  background: #fff;
  top: 0;
  left: 42%;
  margin: 0;
  padding: 0;
}

.herologo {
  width: 300px;
}

/* @group Left Area */
.left_area {
  width: 32%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transition: background 250ms;
}

.content {
  margin: 0 13%;
}

.left_area h1 {
  color: white;
  margin-bottom: 15px;
}

.left_area span {
  color: rgba(255, 255, 255, 0.25);
  margin-right: 10px;
}

.left_area.colors {
  background-color: #3c1c51;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF3C1C51', endColorstr='#FFD14253');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjMWM1MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxNDI1MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #3c1c51), color-stop(100%, #d14253));
  background-image: -moz-linear-gradient(left top, #3c1c51 0%, #d14253 100%);
  background-image: -webkit-linear-gradient(left top, #3c1c51 0%, #d14253 100%);
  background-image: linear-gradient(to right bottom, #3c1c51 0%, #d14253 100%);
  transition: background 250ms;
}

footer {
  width: 87%;
  padding: 15px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: left;
  position: absolute;
  bottom: 60px;
  text-transform: uppercase;
  right: 0;
}

footer p {
  color: white;
  font-weight: 900;
  font: 14px "brandon";
  margin: 0;
}

footer p span.page {
  color: white;
}

/* @end Left Area

/* @group Left Area */
.right_area {
  width: 68%;
  margin-left: 32%;
  background: #fff;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.right_area section {
  width: 100%;
  padding: 5% 3%;
}

.right_area h3 {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0 3%;
}

.right_area p {
  width: 80%;
  margin: 0;
  padding: 0 3%;
}

.right_area h6 {
  margin-bottom: 0;
  text-align: center;
}

.section {
  display: flex;
}

.section p {
  text-align: center;
  width: 100%;
}

.desc {
  line-height: 0;
}

.desc span {
  display: inline;
  color: #8d989e;
}

#colors input[type=text] {
  width: 100%;
  font-size: 14px;
  font-family: "brandon";
  outline: none;
  text-align: center;
  border: none;
  color: #454e5a;
  cursor: pointer;
}

.color figure {
  text-align: center;
}

#colors input[type=text].gradinput {
  display: inline-block;
  width: 60px;
}

/* PRIMARY COLOR STYLES */
.primary {
  margin-bottom: 75px;
}

.primary figure {
  flex: 1;
  width: 19%;
  float: left;
  margin: 0 3%;
}

.primary figure.primary_color {
  display: block;
  margin-top: 40px;
}

.primary_color .color {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 50em;
  padding-top: 100%;
}

.primary_color.slate .color {
  background: #454e5a;
}

.primary_color.blue .color {
  background: #45a0f8;
}

.primary_color.gray .color {
  background: #8d989e;
}

.primary_color.light_gray .color {
  background: #f7fafc;
}

/* SECONDARY COLOR STYLES */
.secondary {
  margin-bottom: 75px;
}

.secondary figure {
  flex: 1;
  float: left;
  margin: 0 3%;
}

.secondary figure.secondary_color {
  display: block;
  margin-top: 40px;
}

.secondary_color .color {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 50em;
  padding-top: 100%;
}

.secondary_color.purple .color {
  background: #8e539d;
}

.secondary_color.medium_blue .color {
  background: #7f6bf4;
}

.secondary_color.sage_green .color {
  background: #33af86;
}

.secondary_color.red .color {
  background: #e55767;
}

.secondary_color.orange .color {
  background: #f4873a;
}

.secondary_color.yellow .color {
  background: #f4c040;
}

/* @end Left Area

/* GRADIENT COLOR STYLES */
.gradient figure {
  flex: 1;
  float: left;
  margin: 0 3%;
  background: #fff;
}

.gradient figure.gradient_color {
  display: block;
  margin-top: 40px;
}

.gradient_color .color {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 50em;
  padding-top: 100%;
}

.gradient_color.purple_grad .color {
  background-color: #2a0c49;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF2A0C49', endColorstr='#FF94326F');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiMyYTBjNDkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NDMyNmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(12%, #2a0c49), color-stop(100%, #94326f));
  background-image: -moz-linear-gradient(left top, #2a0c49 12%, #94326f 100%);
  background-image: -webkit-linear-gradient(left top, #2a0c49 12%, #94326f 100%);
  background-image: linear-gradient(to right bottom, #2a0c49 12%, #94326f 100%);
}

.gradient_color.deep_blue_grad .color {
  background-color: #4a0046;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4A0046', endColorstr='#FF0D649B');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhMDA0NiIvPjxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjMjUxZjVjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGQ2NDliIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #4a0046), color-stop(62%, #251f5c), color-stop(100%, #0d649b));
  background-image: -moz-linear-gradient(left top, #4a0046 0%, #251f5c 62%, #0d649b 100%);
  background-image: -webkit-linear-gradient(left top, #4a0046 0%, #251f5c 62%, #0d649b 100%);
  background-image: linear-gradient(to right bottom, #4a0046 0%, #251f5c 62%, #0d649b 100%);
}

.gradient_color.green_grad .color {
  background-color: #103144;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF103144', endColorstr='#FFDFDB64');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMzE0NCIvPjxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjM2Y2ZjY2Ii8+PHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkZmRiNjQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #103144), color-stop(55%, #3f6f66), color-stop(99%, #dfdb64));
  background-image: -moz-linear-gradient(left top, #103144 0%, #3f6f66 55%, #dfdb64 99%);
  background-image: -webkit-linear-gradient(left top, #103144 0%, #3f6f66 55%, #dfdb64 99%);
  background-image: linear-gradient(to right bottom, #103144 0%, #3f6f66 55%, #dfdb64 99%);
}

.gradient_color.mars_grad .color {
  background-color: #3c1c51;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF3C1C51', endColorstr='#FFD14253');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjMWM1MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxNDI1MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #3c1c51), color-stop(100%, #d14253));
  background-image: -moz-linear-gradient(left top, #3c1c51 0%, #d14253 100%);
  background-image: -webkit-linear-gradient(left top, #3c1c51 0%, #d14253 100%);
  background-image: linear-gradient(to right bottom, #3c1c51 0%, #d14253 100%);
}

.gradient_color.orange_grad .color {
  background-color: #67240f;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF67240F', endColorstr='#FFE7AF48');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3MjQwZiIvPjxzdG9wIG9mZnNldD0iNTYlIiBzdG9wLWNvbG9yPSIjYzU0ZDAyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTdhZjQ4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTdhZjQ4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #67240f), color-stop(56%, #c54d02), color-stop(100%, #e7af48), color-stop(100%, #e7af48));
  background-image: -moz-linear-gradient(left top, #67240f 0%, #c54d02 56%, #e7af48 100%, #e7af48 100%);
  background-image: -webkit-linear-gradient(left top, #67240f 0%, #c54d02 56%, #e7af48 100%, #e7af48 100%);
  background-image: linear-gradient(to right bottom, #67240f 0%, #c54d02 56%, #e7af48 100%, #e7af48 100%);
}

.gradient_color.cold_blue_grad .color {
  background-color: #011e43;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF011E43', endColorstr='#FF1596C9');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMWU0MyIvPjxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMTU5NmM5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #011e43), color-stop(99%, #1596c9));
  background-image: -moz-linear-gradient(left top, #011e43 0%, #1596c9 99%);
  background-image: -webkit-linear-gradient(left top, #011e43 0%, #1596c9 99%);
  background-image: linear-gradient(to right bottom, #011e43 0%, #1596c9 99%);
}

/* GRADIENT COLOR STYLES */
/* @group Colors */
.white {
  color: #fff;
}

/********* PRIMARY **********/
.slate {
  color: #454e5a;
}

.blue {
  color: #45a0f8;
}

.gray {
  color: #8d989e;
}

.light_gray {
  color: #f7fafc;
}

.slate_bg {
  background: #454e5a;
}

.blue_bg {
  background: #45a0f8;
}

.gray_bg {
  background: #8d989e;
}

.light_gray_bg {
  background: #f7fafc;
}

/********* SECONDARY **********/
.purple {
  color: #8e539d;
}

.medium_blue {
  color: #7f6bf4;
}

.sage_green {
  color: #33af86;
}

.red {
  color: #e55767;
}

.orange {
  color: #f4873a;
}

.yellow {
  color: #f4c040;
}

.purple_bg {
  background: #8e539d;
}

.medium_blue_bg {
  background: #7f6bf4;
}

.sage_green_bg {
  background: #33af86;
}

.red_bg {
  background: #e55767;
}

.orange_bg {
  background: #f4873a;
}

.yellow_bg {
  background: #f4c040;
}

/********* GRADIENTS **********/
/********* Pages **********/
/* @end */
/* @end */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=global.css.map */
