/************* ANIMATIONS ************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: #E0E3ED;
}

#pagewrap {
  width: 940px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
}

.leftmarg5 {margin-left: 5px;}
.leftmarg10 {margin-left: 10px;}
.leftmarg15 {margin-left: 15px;}
.leftmarg20 {margin-left: 20px;}
.rightmarg5 {margin-right: 5px;}
.rightmarg10 {margin-right: 10px;}
.rightmarg15 {margin-right: 15px;}
.rightmarg20 {margin-right: 20px;}

.widget {
  width: 930px;
  margin: 50px auto 0;
  position: relative;
  background: #EFF1F6;
  border: 1px solid rgba(192,195,210, .5);
  border-radius: 5px;
}

header,
footer {
  padding: 15px 0 15px 25px;
}

.twotime .content {
  /*height: 70px;*/
}

.twotime .cont {
  width: 200px;
}

.content {
  background: #FFFFFF;
  padding: 20px;
}

p {
  color: #747D94;
  font-size: 12px;
  display: inline-block;
}

p.uppercase {
  text-transform: uppercase;
  font-size: 11px;
}

.cont {
  display: inline-block;
  position: relative;
}

.row {
  position: relative;
  height: 40px;
}

.dropdown {
  background-color: #f6f7f9;
  background-image: linear-gradient(#f9fafb,#f2f3f6);
  border: 1px solid #BDC7D2;
  border-radius: 2px;
  color: #747D94;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 11px;
  padding: 9px 13px 8px;
  margin: 0 3px;
  cursor: pointer;
}

input[type="text"] {
  font-weight: bold;
  font-family: Helvetica;
  padding: 8px 13px;
  font-size: 11px;
}

.dropdown:hover {
  background-color: #fff;
  background-image: linear-gradient(#fff,#f2f3f6);
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.dropdown.fixed {
  width: 210px;
}

.invert {
  background: #FFF;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
  text-transform: none;
}

.invert:hover {
  background: #fff;
  box-shadow: none;
  cursor: auto;
}

.menu {
  display: none;
  position: absolute;
  left: 3px;
  top: 15px;
  z-index: 1;
  background: #FCFCFC;
  border: 1px solid #BDC7D2;
  border-radius: 3px;
  padding: 0;
  height: 234px;
  width: 425px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.list {
  width: 207px;
  height: 232px;
  overflow: scroll;
  float: left;
}

.sepsep {
  width: 5px;
  height: 232px;
  float: left;
  background: #BDC7D2;
  position: relative;
  z-index: 1;
}

h3 {
  text-transform: uppercase;
  padding: 9px 0 8px 13px;
  background: #EFF1F6;
  font-size: 11px;
  border-bottom: 1px solid #E2E6EA;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03);
  position: fixed;
  width: 210px;
  color: #747D94;
  margin: 0;
}

.events h3 {
  padding-left: 40px;
}

.props h3 {
  padding-left: 34px;
}

.menu a {
  text-align: left;
  text-decoration: none;
  color: #747D94;
  text-transform: none;
  line-height: 30px;
  border-bottom: 1px solid rgba(189,199,210, .4);
  padding: 3px 6px 3px 15px;
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.twotime .menu a {
  padding: 4px 6px 0px 15px;
}

.menu a:nth-child(2) {
  margin-top: 30px;
}

.menu a:last-child {
  border-bottom: none;
}

.menu a:hover,
.menu a.active {
  background: #EFF2F9;
}

.menu.open,
.menu.active {
  display: block;
}

.time {
  border-radius: 2px;
  color: #747D94;
  background: rgba(186,194,215,.5);
  display: inline-block;
  font-size: 12px;
  padding: 9px 13px;
  margin: 0 3px;
  width: 80px;
  text-align: center;
}

.arrow,
.arrow:after,
.arrow:before {
  display: inline-block;
  position: relative;
  width: 10px;
  top: -3px;
  float: right;
  margin: 5px 2px 0 9px;
}

.arrow:after,
.arrow:before {
  width: 7px;
  height: 3px;
  border-radius: 20px;
  background-color: #AEC0CE;
  content: "";
  position: absolute;
}

.arrow:after {
  transform: rotateZ(-45deg);
  left: -2px;
}

.arrow:before {
  transform: rotateZ(45deg);
  right: -2px;
}

.left {
  top: 7px;
  right: 36px;
}

.string {
  float: right;
  margin-top: 5px;
}
.icon {
  position: absolute;
  left: 10px;
}

.perp {
  top: 7px;
}

.container {
  position: relative;
}

.wrap {
  position: relative;
  float: left;
  margin: 0;
  width: 97px;
}

.dual {
  width: 97px;
}

.dual.one { border-radius: 2px 0 0 2px;}
.dual.two {
  border-radius:  0 2px 2px 0;
  margin-left: 2px;
}

.wrap .left {
  right: 12px;
  top: -23px;
}

.wrap input[type=text] {
  padding: 8px 30px 8px 13px;
}

.menu.people,
.menu.events {
  width: 193px;
}

.menu.people .list,
.menu.events .list {
  width: 191px;
}

.menu.people a:nth-child(2),
.menu.events a:nth-child(2) {
  margin: 0;
}

.sing { display: none; }
.sing.active { display: block; }
.dubs.inactive { display: none; }

.fixie {
  width: 193px;
  text-transform: none;
}

.x,
.x:after,
.x:before {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 12px;
  top: 2px;
  float: right;
  margin: 0px 2px;
}

.x:after,
.x:before {
  width: 13px;
  height: 3px;
  border-radius: 20px;
  background-color: #AEC0CE;
  content: "";
  position: absolute;
}

.x:after {
  transform: rotateZ(-45deg);
  left: 2px;
}

.x:before {
  transform: rotateZ(45deg);
  right: -5px;
}

.x:hover:after,
.x:hover:before {
background-color: #AD1C40;
}

input[type=text]:focus {
  border-color: #6FAFEE;
}

.frequency,
.properties {
  display: none;
  position: relative;
  top: -15px;
  margin-left: -2px;
}

.frequency.show,
.properties.show {
  display: inline-block;
}

.ancil {
  text-transform: none;
  height: 31px;
}

.ancil .left {
  top: -3px;
  right: 0px;
}

.container .icon {
  left: 4px;
  width: 18px;
  top: 10px;
}

.container .icon.perp {
  top: 6px;
}

.wrap .dropdown {
  padding: 9px 13px 8px 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: none;
}

.wrap.bigger.chosen .dropdown {

}

.dropdown .chosen {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: none;
  width: 130px;
  display: inline-block;
}

.x {
  cursor: pointer;
}

.delete {
  top: 14px;
  display: none;
}

.delete.show {
  display: inline-block;
}

.add_row {
  display: block;
  width: 29px;
  height: 29px;
  text-align: center;
  vertical-align: middle;
  color: #68B1EA;
  font-size: 24px;
  border: 1px solid #BDC7D2;
  border-radius: 50em;
  line-height: 25px;
  background: #F3F4F6;
  cursor: pointer;
  position: relative;
  margin: 3px 0 0 10px;
}

.add_row:before {
  width: 1px;
  height: 14px;
  display: block;
  content: "";
  position: absolute;
  top: -14px;
  left: 13px;
  background: #BDC7D2;
}

.row.add {
  /*display: none;*/
}

.row_template {
  opacity: 0;
  visibility: hidden;
}

.ancil.perform {
  width: 150px;
}

.ancil.freq {
  width: 93px;
  margin-left: 1px;
}

.menu.freq {
  width: 150px;
}

.menu.freq.one {
  height: 71px;
}

.menu.freq a:nth-child(2),
.menu.propers a:nth-child(2) {
  margin-top: -2px;
}

.menu.freq.two {
  height: 174px;
  width: 92px;
  left: 162px;
}

.menu.freq .list {
  width: 100%;
}

.greyed {
  display: inline-block;
  background: rgba(189,199,210, .35);
  padding: 9px;
  border-radius: 3px;
  margin: 1px;
  position: relative;
  top: 1px;
  text-align: center;
}

.numberTime {
  width: 42px;
  border-radius: 3px;
  border: 1px solid rgb(189,199,210);
  margin: 0 7px;
  color: #7487B0;
}

.numberTime.boo {
  margin: 0 8px 0 2px;
}

.fre {
  display: none;
}

.fre.active {
  display: inline-block;
}

.timestho {
  margin: 1px 6px 1px 3px;
}

.inthe {
  margin: 1px 4px 1px 2px;
}

.menu.propers {
  width: 126px;
  height: 210px;
}

.dropdown.prosp {
  width: 137px;
}

.menu.propers .list {
  width: 124px;
}