/************* ANIMATIONS ************/
@-webkit-keyframes fade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  10% {
    opacity: .4;
  }

  90% {
    opacity: .4;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body.gobbble {
  background: url(http://f.cl.ly/items/3F2e1j2x2X0X1u3j3k09/DSC00831.jpg);
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}

body.pict {
  background: url(http://f.cl.ly/items/3F2e1j2x2X0X1u3j3k09/DSC00831.jpg);
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}

body.mix {
  background: #8F81AD;
  /* Old browsers */
  background-size: auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#pagewrap {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

#pagewrap.mix {
  width: 1206px;
  padding: 30px 0;
  margin: 0 auto;
  position: relative;
}

.open {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border: 4px solid rgba(255, 255, 255, 0.85);
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  position: absolute;
  transform: translate3d(150%, 650%, 0);
}

.mix .open {
  position: absolute;
  top: -40px;
  right: 626px;
  background: #fff;
  border-color: #15A4FA;
  color: #15A4FA;
}

.modal-cover {
  overflow: hidden;
  position: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  visibility: hidden;
}

.holder {
  top: 93px;
  right: 4px;
  width: 996px;
  height: 799px;
  position: absolute;
  overflow: hidden;
  margin: 10px;
}

.container {
  top: 93px;
  right: 5px;
  width: 996px;
  height: 799px;
  position: absolute;
  overflow: hidden;
}

.modal-cover.blur {
  background: url(http://f.cl.ly/items/3S3W46180P0S3T0Y381m/content-bg.png) no-repeat;
  width: 996px;
  height: 799px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-filter: blur(0);
  min-height: 0;
  background-size: auto;
  overflow: hidden;
  margin: -10px;
}

.blurry {
  background: rgba(255, 255, 255, 0);
  z-index: 2;
  height: 799px;
}

.modal-cover.blur.active .blurry {
  background: rgba(255, 255, 255, 0);
  transition: background 400ms 100ms;
}

.modal-cover.blur.active {
  opacity: 1;
  visibility: visible;
  -webkit-filter: blur(15px);
  transition: opacity 100ms, -webkit-filter 250ms ease-in 100ms;
}

.modal-cover.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 5ms;
}

.squares ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 996px;
  height: 799px;
  overflow: hidden;
}

.squares ul li {
  display: inline-block;
  background: #233349;
  padding: 0;
  margin: 0;
  width: 20%;
  height: 161px;
  margin-top: -2px;
  width: 20%;
  background: transparent;
}

.modal-cover.squares.active ul li {
  transition: background 250ms;
  background: #233349;
}

.modal-cover.squares.active ul li:nth-child(2n+0) {
  background: #3DC7C8;
  transition: background 250ms 75ms;
}

.modal-cover.squares.active ul li:nth-child(3n+0) {
  transition: background 250ms 150ms;
  background: #15A4FA;
}

.grad.one {
  background: -webkit-radial-gradient(70% 30%, cover, #ae81ff 0%, rgba(5, 171, 224, 0) 100%);
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
}

.grad.three {
  background: -webkit-radial-gradient(20% 80%, cover, #8dd5fc 0%, rgba(5, 171, 224, 0) 100%);
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
}

.grad.two {
  background: -webkit-radial-gradient(-55% -75%, cover, #f12772 0%, rgba(5, 171, 224, 0) 100%);
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
}

.grad.six {
  background: -webkit-radial-gradient(-55% 5%, cover, #5c5699 0%, #5c5699 100%);
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
}

.grad.seven {
  background: -webkit-radial-gradient(85% 75%, cover, #6fb7f3 0%, rgba(92, 86, 153, 0) 100%);
  width: 100%;
  min-height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
}

.modal-cover.active .grad.one {
  opacity: .9;
  transition: opacity 225ms ease-in 25ms;
}

.modal-cover.active .grad.two {
  opacity: .9;
  transition: opacity 225ms ease-in 125ms;
}

.modal-cover.active .grad.three {
  opacity: .9;
  transition: opacity 225ms ease-in 225ms;
}

.modal-cover.active .grad.six {
  opacity: 1;
  transition: opacity 225ms ease-in 225ms;
}

.modal-cover.active .grad.seven {
  opacity: 1;
  transition: opacity 225ms ease-in 450ms;
}

.modal {
  background: #fff;
  position: fixed;
  z-index: 1;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  transform: translate3d(25%, 58%, 0);
  text-align: center;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate3d(25%, 50%, 0);
  transition: opacity 200ms ease-in 800ms, transform 450ms ease-out 850ms;
}

.modal.default {
  width: 522px;
  height: 423px;
  background: url(http://f.cl.ly/items/0a2n0g0L1N263v270y2L/modal.png) no-repeat;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  top: -40px;
  right: 373px;
  box-shadow: none;
}

.modal.default.active {
  top: -70px;
  visibility: visible;
  opacity: 1;
  transition: top 300ms cubic-bezier(0.06, 0.4, 0.27, 0.92) 400ms, opacity 300ms 400ms;
}

h1 {
  margin: 0;
  width: 400px;
  background: #FCC58E;
  color: #555;
  padding: 25px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

p {
  color: #777;
  margin-top: 90px;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  align-content: stretch;
}

.boxes {
  height: 100%;
  width: 100%;
  margin-left: 1%;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.boxes li {
  position: fixed;
  display: block;
  background: rgba(255, 255, 255, 0.85);
  width: 25%;
  height: 50%;
  top: 0%;
  padding-top: 1%;
  padding-left: 1%;
}
.boxes li.one, .boxes li.five {
  left: 0%;
}
.boxes li.two, .boxes li.six {
  left: 25%;
}
.boxes li.three, .boxes li.seven {
  left: 50%;
}
.boxes li.four, .boxes li.eight {
  left: 75%;
}
.boxes li.bottom-half {
  top: 50%;
}

.boxes li.one {
  z-index: 1;
}

.boxes li.two {
  z-index: 2;
}

.boxes li.three {
  z-index: 3;
}

.boxes li.three:hover {
  z-index: 3;
  background: #000;
}

.boxes li.four {
  z-index: 4;
}

.boxes li.five {
  z-index: 5;
}

.boxes li.six {
  z-index: 6;
}

.boxes li.seven {
  z-index: 7;
}

.boxes li.eight {
  z-index: 8;
}

.boxes li:hover {
  background: white;
  cursor: pointer;
}

.boxes li img {
  width: 100%;
}

.boxes p, .boxes h2 {
  margin-top: 20px;
}
