/************* GLOBAL ************/

body {
  background: #fff;
}

::-moz-selection {
    color: #FFF;
    background: @primary-blue;
    text-shadow: none;
}

::selection {
    color: #FFF;
    background: @primary-blue;
    text-shadow: none;
}

/************* TEXT COLOR ************/

.text-blue { color: @primary-blue; }
.text-grey1 { color: @grey1; }
.text-grey2 { color: @grey2; }
.text-grey3 { color: @grey3; }
.text-grey4 { color: @grey4; }

/************* TYPOGRAPHY ************/

.fontSize-xxl { .fontSize-ExtraExtraLarge; }
.fontSize-xl { .fontSize-ExtraLarge; }
.fontSize-l { .fontSize-Large; }
.fontSize-m { .fontSize-Medium; }
.fontSize-s { .fontSize-Small; }
.fontSize-xs { .fontSize-Micro; }

.head {
	font-family: @mpfont;
	margin-bottom: @baseunit*4;
	letter-spacing: -1px;
}

h1.head {
	font-size: 81px;
	margin-bottom: @baseunit*7;
	.light;
}

h2.head {}

h3.head {
	font-size: 36px;
	.light;
}

h4.head {
	font-size: 23px;
	margin-bottom: @baseunit;
	.book;
}

.typography p span {
	display: block;
	letter-spacing: 0;
	margin-top: @baseunit*1.5;
}

/************* LAYOUT ************/

.wrapper { width: 100%; }
.headerarea { width: 60%; }

.col-left {
	width: 60%;
	float: left;
}

.col-right {
	width: 40%;
	float: left;
	padding: 0 0 0 40px;
}

section {
	padding: @baseunit*9 @baseunit*11;
}

.hero {
	height: 100vh;
}

.hero .content {
	position: absolute;
	.vertical-center;
}

.hero h1 {
	margin-bottom: @baseunit;
}

.logo {
	background: @primary-blue;
	width: 22px;
	height: 22px;
	border-radius: 50em;
	border: transparent;
	position: relative;
	&::before, &::after {
		background: @primary-blue;
		border-radius: 50em;
		border: transparent;
		display: inline-block;
		position: absolute;
		content: "";
	}
	&::before {
		width: 16px;
		height: 16px;
		left: 40px;
		top: 3px;
	}
	&::after {
		width: 6px;
		height: 6px;
		left: 74px;
		top: 8px;
	}
}

.desc::after {
	width: 80px;
	height: 5px;
	background: fadeout(@grey1, 70);
	display: block;
	content: "";
	margin: @baseunit*8 0;
}

.typography p {

}

section.one {
	background: #F4F7F9;
}

pre span {
	display: inline-block;
}