
/************* TYPOGRAPHY ************/

// .paragraph-mpfont {
// 	font-family: @mpfont;
// 	font-size: 14px;
// 	line-height: @baseunit*3;
// 	color: @text-grey3;
// }

// .paragraph-prox {
// 	font-family: @prox;
// 	font-size: 14px;
// 	line-height: @baseunit*3;
// 	color: @text-grey3;
// }

.paragraph {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	line-height: @baseunit*3;
	color: @text-grey3;
	font-weight: normal;
}

// .headline-mpfont {
// 	font-family: @mpfont;
// 	font-size: 18px;
// 	line-height: @baseunit*3;
// 	color: @text-grey4;
// }

.headline-prox {
	font-family: @prox;
	font-size: 18px;
	line-height: @baseunit*3;
	color: @text-grey4;
	font-weight: 900;
}

// .headline-helv {
// 	font-family: "Helvetica", "Arial", sans-serif;
// 	font-size: 18px;
// 	line-height: @baseunit*3;
// 	color: @text-grey4;
// }

.light { font-weight: 100; }
.book { font-weight: 300; }
.reg { font-weight: normal; }
.medium { font-weight: 500; }
.semibold { font-weight: 700; }
.bold { font-weight: 900; }