/************* COLOR ************/

@primary-blue: RGB(80, 170, 255);
@grey1: RGB(193, 204, 214);
@grey2: RGB(156, 172, 187);
@grey3: RGB(110, 133, 157);
@grey4: RGB(76, 96, 114);

/************* GRIDS & UNITS ************/

@basefont: 14px;
@baseunit: 6px;

/************* TYPOGRAPHY **************/

@mpfont: "mixpanel";
@prox: "proxima";