/************* COLOR ************/

@primary-blue: RGB(80, 170, 255);

/************* TEXT COLOR ************/

@text-grey1: RGB(193, 204, 214);
@text-grey2: RGB(156, 172, 187);
@text-grey3: RGB(110, 133, 157);
@text-grey4: RGB(76, 96, 114);

/************* GRIDS & UNITS ************/

@basefont: 14px;
@baseunit: 6px;

/************* TYPOGRAPHY **************/

@mpfont: "mixpanel";
@prox: "proxima";